---
import type { WidgetPost } from "@/toolkit/posts/createWidgetPosts";
import Widgets from "@/components/footer/Widgets.svelte";

interface WidgetsConfig {
  randomPosts?: boolean;
  recentComments?: boolean;
  recentCommentsLimit?: number;
}

interface Props {
  posts: WidgetPost[];
  widgetsConfig?: WidgetsConfig;
  commentsEnabled?: boolean;
  walineServerURL?: string;
}

const {
  posts,
  widgetsConfig = {},
  commentsEnabled = false,
  walineServerURL = "",
} = Astro.props;
---

<div id="main" class="pjax layout-main-column">
  <slot />
</div>
<div class="layout-main-widgets">
  <div class="widgets">
    <Widgets
      client:idle
      posts={posts}
      enableRandomPosts={widgetsConfig.randomPosts !== false}
      enableRecentComments={widgetsConfig.recentComments && commentsEnabled}
      recentCommentsLimit={widgetsConfig.recentCommentsLimit || 6}
      walineServerURL={walineServerURL}
    />
  </div>
</div>
