---
interface Props {
  type?: "primary" | "info" | "success" | "warning" | "danger" | "default";
}

const { type = "primary" }: Props = Astro.props;
---

<span class={`label ${type}`.trim()}>
  <slot />
</span>
